{{- $email := promptString "email" -}}
[data]
    email = "{{ $email }}"
    name = "Michael Grubb"
    ruby_version = "2.7.1"
    python_version = "3.8.2"
    node_version = "14.1.0"

[data.hammerspoon]
    domainname = "{{ trim (index (lastpass "Secure Notes\\Chezmoi/hammerspoon_secrets") 0).note.domainname }}"
