emacs.d/SessionDesktop.el
emacs.d/abbrev_defs
emacs.d/auto-save-list
emacs.d/el-get
emacs.d/elpa
emacs.d/games
emacs.d/tmp
emacs.d/var
emacs.d/xkcd
vim/spell
vim/cache
vim/tmp
vim/undo
vim/.netrwhist
lein/.lein-repl-history
lein/indices
lein/self-installs
lein/credentials.clj
lein/*.gpg
lein/repl-history
tags
msmtprc
mutt/*
offlineimaprc
osx_mat.sh
*.private
