[include]
  path = ~/.dotfiles/gitconfig.private

[credential]
  helper = osxkeychain
  helper = !aws codecommit credential-helper $@
  UseHttpPath = true

[alias]
	ci = commit
	co = checkout
	st = status
	br = branch
	di = diff
	dt = difftool
  mt = mergetool
	sub = submodule

	# show difference between the HEAD and the index
	staged = diff --cached
	# show diff between working and index
	unstaged = diff
	# show wat would be commited with commit -a
	both = diff HEAD
	cb = current-branch

	tags = tag -l -n1

  # Legit aliases
	switch = !legit switch \"$@\"
	branches = !legit branches
	sprout = !legit sprout \"$@\"
	unpublish = !legit unpublish \"$@\"
	harvest = !legit harvest \"$@\"
	sync = !legit sync \"$@\"
	publish = !legit publish \"$@\"
	graft = !legit graft \"$@\"
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --


[gui]

[color]
	ui = true
	branch = auto
	diff = auto
	status = auto

[color "branch"]
	current = magenta
	local = green
	remote = magenta

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[color "status"]
	added = green
	changed = blue
	untracked = red

[diff]
	tool = Kaleidoscope

[merge]
	tool = Kaleidoscope
	verbosity = 5
	summary = true

[mergetool]
	prompt = false

[mergetool "kdiff3"]
	path = /Developer/Applications/kdiff3.app/Contents/MacOS/kdiff3

[gui]

[core]
	editor = mvim -f
	quotepath = false
	excludesfile = ~/.gitignore
	autocrlf = input

[help]
	autocorrect = 0
	format = web

[man]
	viewer = iman
	viewer = man

[web]
	browser = macosx-default-browser

[man "iman"]
	cmd = /usr/bin/iman

[browser "macosx-default-browser"]
	cmd = /usr/bin/open

[branch]
	autosetupmerge = true

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =

[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[push]
	default = simple

[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

[difftool]
  prompt = false

[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustExitCode = true

[hub]
  protocol = https
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
