---
~/Personal/Source:
  name: Michael Grubb
  email: michael@grubb.co
~/Source:
  name: Michael Grubb
  email: {{ .email }}
~/Source/Personal:
  name: Michael Grubb
  email: michael@grubb.co
~/.local/share/chezmoi:
  name: Michael Grubb
  email: michael@grubb.co
